.search-item {
    background: white;
    border: 1px solid rgba(0, 58, 88, 0.2);
    height: 8rem;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0.5rem auto;
    max-width: 108rem;
    height: 10rem;
    font-family: "kumbh sans", sans-serif;
    overflow: hidden;
}

.search-item:hover {
    border: 1px solid rgba(0, 58, 88, 0.8);
    background: #fbfbfb;
}

.search-item__profile-pic a {

}

.search-item__profile-pic img {
    height: 10rem;
    width: 10rem;
}



.search-item__bio {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding: 1rem 0;
    height: 11rem;
    box-sizing: border-box;
    overflow: hidden;
}

.bio__name {
    text-decoration: none;
    margin-bottom: 0.2rem;
}

.bio__name a{
    text-decoration: none;
}

.bio__name h1{
    color: #003A58;
    margin: 0;
}



.bio__title {
    margin-bottom: .4rem;
}

.bio__title h2{
    padding: 0.1rem 0;
    font-size: 1rem;
    margin: 0;
    font-weight: 500;
}

.bio__about {
    height: 3.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0,0,0,0.6);
    font-size: 0.8rem;
}

.bio__see-more {
    height: 1rem;
    padding: 0.5rem 0;
    margin-top: auto;
}

.bio__see-more a {
    color: rgba(8, 103, 150, 0.8);
    text-decoration: none;    
    font-size: 1rem;
}

.bio__see-more a:hover {
    color: rgba(8, 103, 150, 1);
    text-decoration: underline;
}




/* for really wide screens */
@media (min-width: 120rem) {
    .search-item {
        max-width: 108rem;
    }
}

/* for mobile */
@media (max-width: 40rem) {
    
    .bio__about {
        display: none;
    }
}