 
 /* Some code in this file is from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js */
 
 .DrawerToggle {
  width: 30px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}
  
  .DrawerToggle .bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
  }
 
  .DrawerToggle .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .DrawerToggle .change .bar2 {opacity: 0;}
  
  .DrawerToggle .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

@media (min-width: 40rem) {
    .DrawerToggle {
        display: none;
    }
}