.LoginWindow {
    width: 300px;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}
.LoginWindow input{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.LoginWindow button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}