.LoginWindow {
    width: 300px;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    background-color: #e8e8e8;
}
.LoginWindow input{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f7f7;
}
.LoginWindow button {
    margin-left: auto;
    margin-right: auto;
    background-color: #e8e8e8;
    border: none;
    color: #484848;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.LoginWindow button:hover {
    background-color: #7ef5d1; 
}