.project-block-two-project {
    background: white;
    border: 1px solid rgba(0, 58, 88, 0.2);
    height: 8rem;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0.5rem auto;
    max-width: 108rem;
    height: 10rem;
    font-family: "kumbh sans", sans-serif;
    overflow: hidden;
}

.project-block-two-project:hover {
    border: 1px solid rgba(0, 58, 88, 0.8);
    background: #fbfbfb;
} 


.project__overview {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding: 1rem 0;
    height: 11rem;
    box-sizing: border-box;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0;
}

.overview__title {
    text-decoration: none;
    margin-bottom: 0.2rem;
}

.overview__title a{
    text-decoration: none;
}

.overview__title h1{
    color: #003A58;
    margin: 0;
}


.overview__description {
    height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0,0,0,0.6);
    font-size: 0.8rem;
}

.overview__see-more {
    height: 1rem;
    padding: 0.5rem 0;
    margin-top: auto;
}

.overview__see-more a {
    color: rgba(8, 103, 150, 0.8);
    text-decoration: none;    
    font-size: 1rem;
}

.overview__see-more a:hover {
    color: rgba(8, 103, 150, 1);
    text-decoration: underline;
}