.PdfPreview .react-pdf__Page__canvas {
    height: auto !important;
    width: 10rem !important;
    margin: auto;
    
}

/* .PdfPreview .react-pdf__Page__textContent {
    height: 0 !important;
    width: 0 !important;
    margin: auto;
    overflow-y: hidden;
    overflow-x: hidden;
} */


.PdfPreview {
    height: 10rem;
    width: 10rem;
    display: block;
    margin: 2rem;
    overflow-y: hidden;
    overflow-x: hidden;
}