.search__info {
    font-family: "kumbh sans", sans-serif;
    width: 90%;
    margin: auto;

    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.search_no-found-text {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    
}


.search__see-more {
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 0.5rem;
}

.search__see-more h2 {
    color: rgba(0, 58, 88, 0.8);
    
    
}
.search__see-more h2:hover,
.search__see-more h2:active {
    color: rgba(0, 58, 88, 1);
    cursor:pointer;
    text-decoration: underline;
}

/* for eide screens */
@media (min-width: 120rem) {
    .search__info {
        max-width: 108rem;
    }
}

/* for mobile */
@media (max-width: 40rem) {
    
    .page-selector { 
        width: 90%;
    }
}

