.search__info {
    font-family: "kumbh sans", sans-serif;
    width: 90%;
    margin: auto;

    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.page-selector {
    font-family: "kumbh sans", sans-serif;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    margin: 2rem auto;
}

.page-selector__page-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.page-selector__next-previous {
    padding: 0.5rem;
    margin: 0 .1rem;
    font-size: 1rem;
    border-radius: 10%;
    border: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    height: 2rem;
    text-align: center;
}

.page-selector__page-number {
    padding: 0.5rem;
    margin: 0 .1rem;
    font-size: 1rem;
    border-radius: 10%;
    border: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    height: 2rem;
    width: 2rem;
    text-align: center;
}

.page-selector__current {
    background-color: rgba(8, 103, 150, 0.8);
    color: white;
}

.page-selector__current:hover {
    background-color: transparent;
    color: inherit;
}

.page-selector__next-previous:hover,
.page-selector__page-number:hover {
    border: 1px solid rgba(8, 103, 150, 0.8);
}

@media (min-width: 120rem) {
    .search__info {
        max-width: 108rem;
    }
}


@media (max-width: 40rem) {
    
    .page-selector { 
        width: 90%;
    }
}

