.product-promo {
    background: url("../../assets/images/aurora.jpg") center/cover no-repeat border-box,
    #ff1b68;
    height: calc(100vh - 2.5rem);
    margin-top: 0;
}

.product-promo__slogan {
    position: absolute;
    bottom: 60%;
    left: 3%;
}