.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #b3b3b3;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.SideDrawer a {
    float: left;
    color:#5c5c5c;
    background-color: #b3b3b3;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 4vw;
    display: block;
}

.SideDrawer a:hover{
    background-color: #3ad6a7;
    color: #454545;
}

.SideDrawer img {
    align-content: center;
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 500px){
    .SideDrawer {
        display: none;
    }
    .SideDrawer img {
        display: none;
    }
}