.attachment-item {
    background: white;
    border: 1px solid rgba(0, 58, 88, 0.2);
    display: flex;
    flex-direction: row;
    margin: 0.5rem auto;
    width: 98%;
    max-width: 108rem;
    font-family: "kumbh sans", sans-serif;
    position: relative;
}

.attachment-item__edit-mode {
    background: white;
    border: 1px solid rgba(0, 58, 88, 0.2);
    display: flex;
    flex-direction: row;
    margin: 0.5rem auto;
    width: 98%;
    max-width: 108rem;
    font-family: "kumbh sans", sans-serif;
    position: relative;
}

.attachment-item:hover {
    background:  rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 58, 88, 1);
    cursor: pointer;
}

/* tool tip code from https://www.w3schools.com/howto/howto_css_tooltip.asp */
.attachment-item .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.attachment-item:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.attachment-item .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

.attachment-img-placeholder {
    height: 2rem;
    margin: auto 1rem;
}

.attachment-info {
    display: flex;
    flex-direction: column;
    height: 4rem;
    justify-content: center;

}

.attachment-name {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    color: #003A58;
}

.attachment-desc {
    margin: 0;
    font-weight: 500;
    font-size: 0.8rem;
    color: #003A58;
}

.attachment__delete-button {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0,  0.5);
    border: none;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    cursor: pointer;
    color: red;
}

.attachment__delete-button:hover,
.attachment__delete-button:active {
    color: rgba(0, 0, 0, 1);
}