.field-container {
    display: flex;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

.field-container__icon {
    padding: 0.5rem;
    background: rgba(8, 103, 150, 1);
    height: 1.6rem;
    width: 1.6rem;
    min-width: 1.6rem;
    text-align: center;
}

.field-container__input-field {
    width: 100%;
    padding: 0.3rem;
    font-size: 1rem;
    outline: none;
}

.field-container__input-field:focus {
    border: 2px solid rgba(8, 103, 150, 1);
}